<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
	<listeners>
		<listener class-name="listener.Listeners"></listener>
	</listeners>
	<test name="Logging and adding item to troley with adding verification">
		<classes>
			<class name="Annotiations.Test.LogInToShopAndAddItemToCart" />
		</classes>
	</test>
	<test name="Adding products to trolley with verification of price ">
		<classes>
			<class name="Annotiations.Test.LogInToShopAndAdd2ItemsVerifyPrice" />
		</classes>
	</test>
</suite>